<h1>Lista de documentos</h1>
<hr>
<div class="mb-3">

    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" (keyup.enter)="buscar($event)">
</div>
<div *ngIf="cargando" class="spinner-border position-absolute top-30 start-50 " role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="!cargando" class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Alias</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fecha de creación</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of documentos" (click)="editar(item.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <th scope="row">{{item.id}}</th>
            <td>{{item.alias|titlecase}}</td>
            <td *ngIf="item.tipo === 'Contrato'" class="bg-warning">{{item.tipo}}</td>
            <td *ngIf="item.tipo === 'Carta'" class="bg-info">{{item.tipo}}</td>
            <td *ngIf="item.tipo !== 'Contrato' && item.tipo !== 'Carta'">{{item.tipo}}</td>



            <td>{{item.fechaCreacion|date:'dd/MM/YYYY'}}</td>
        </tr>

    </tbody>
</table>
<app-modal [documento]="documento" (editarDocumento)="editarDocumento($event)"></app-modal>